<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelService</servlet-name>
        <servlet-class>hotelBooking.core.services.HotelService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeBooking</servlet-name>
        <servlet-class>hotelBooking.user.BookingService.MakeBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookings</servlet-name>
        <servlet-class>hotelBooking.user.BookingService.ShowBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewServlet</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.AdminViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeMyBooking</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.MakeMyBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAccess</servlet-name>
        <servlet-class>hotelBooking.web.servlet.user.EditUserAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyBookings</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.ShowMyBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMyBooking</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.ShowMyBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHotel</servlet-name>
        <servlet-class>hotelBooking.web.servlet.hotel.ViewHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookHotel</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.BookHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookMyRoom</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.BookMyRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePayment</servlet-name>
        <servlet-class>hotelBooking.web.servlet.booking.MakePayment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeBooking</servlet-name>
        <url-pattern>/MakeBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelService</servlet-name>
        <url-pattern>/HotelService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookings</servlet-name>
        <url-pattern>/ShowBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewServlet</servlet-name>
        <url-pattern>/admin/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeMyBooking</servlet-name>
        <url-pattern>/MakeMyBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAccess</servlet-name>
        <url-pattern>/admin/editAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyBookings</servlet-name>
        <url-pattern>/ShowMyBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMyBooking</servlet-name>
        <url-pattern>/ShowMyBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHotel</servlet-name>
        <url-pattern>/ViewHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookHotel</servlet-name>
        <url-pattern>/BookHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookMyRoom</servlet-name>
        <url-pattern>/BookMyRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePayment</servlet-name>
        <url-pattern>/MakePayment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
